body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f0eded;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
}

.hero {
    background: url('../images/images.jpeg') no-repeat center center/cover;
    color: #fff;
    padding: 100px 0;
    text-align: center;
}

.hero h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.hero .btn {
    background: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

section {
    padding: 20px 0;
}

.about,
.events,
.success-stories,
.news {
    text-align: center;
    margin: 10px;
}

.about p,
.events p,
.success-stories p,
.news p{
    text-align: start;
    margin: 10px;
}
.card-img-top{
    height: 100px;
    width: 100px;
    
}

.container h2{
    text-align: start;
}

.about ul {
    list-style-type: disc;
    padding-left: 20px;
    text-align: left;
    display: inline-block;
}



.event-list, .story-list, .news-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.event, .story, .news-item {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
}

.event a, .news-item a {
    color: #007bff;
    text-decoration: none;
}

footer {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer p {
    margin: 0;
}

footer .social-links {
    list-style: none;
    padding: 0;
}

footer .social-links li {
    display: inline;
    margin: 0 10px;
}

footer .social-links li a {
    color: #fff;
    text-decoration: none;
}



.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}