{% extends "base.html" %}

{% block title %}All Posts{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="my-5">All Posts</h1>
    <div class="row">
        {% for post in posts %}
        <div class="col-md-3 mb-2">
            <div class="card h-100">
                {% if post.image_file %}
                <img src="{{ url_for('static', filename='post_pics/' + post.image_file) }}" class="card-img-top" alt="Post Image">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.content }}</p>
                    <p class="card-text">
                        <small class="text-muted">Posted on {{ post.date_posted.strftime('%Y-%m-%d') }} by {{ post.author.username }}</small>
                    </p>
                    <div>
                        <a href="{{url_for('main.like_post', post_id=post.id) }}" class="btn btn-primary"> Like</a>
                        <a href="{{ url_for('main.post', post_id = post.id)}}" class="btn btn-secondary"> Comment</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    </div>
</div>
{% endblock %}
